body {

	margin: auto;
	padding: .5in;
	max-width: 7in;
	text-align: justify;

}

h1 {

	font-size: medium;
	font-weight: bold;
	text-decoration: none;

}

a:link, a:visited {

	color: rgb(255,45,85);
	text-decoration: none;
	
}

.sage {

	width: 5in;
	margin: auto;

}

.sagecell_sessionOutput {

	border-color: black !important;
	text-align: center;

}
